.listaFilmes {
    max-width: 800px;
    margin: 2px auto;
}

.listaFilmes article {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.listaFilmes strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.listaFilmes img {
    width: 100%;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    /*para a imagem ficar centralizada dentro do componente*/
    display: block;
    /*para o proximo elemento ficar grudado na imagem*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.listaFilmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116FEB;
    text-decoration: none;
    color: #fff;
    height: 50px;
    transition: 0.5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.listaFilmes a:hover {
    background-color: blue;
    cursor: pointer;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}